#calculateur{
	text-align: center;
	padding: 0% 15% 2% 15%;
	display: flex;
	flex-direction: column;
/* justify-content: space-between; */
	/* flex-wrap: wrap; */

}


.page_title{
	/* background-color: red; */
	/* align-self: flex-start; */
	/* justify-content: center; */
	padding-top: 1.7em;
	text-align: left;
	/* background-color: yellow; */
}

#formulaire2{
	text-align: center;
	padding: 0% 10% ;
	display: grid;
	/* justify-content: space-around; */
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	align-items: left;
	background-color: #EAEAEA;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-rows: repeat(1, 1fr); */
}

#formulaire2 > .simulation_cases {
	/* border: solid 1px; */
	text-align: left;
	font-family: "Noto Sans", sans-serif;
}

#formulaire2 > .simulation_cases_label {
	/* border: solid 1px; */
	text-align: right;

}

label{
	font-family: "Noto Sans Bold", sans-serif;
	font-weight: bold;
	color: #707070;
	font-size: 1.1em;
}


#bouttton{
	border: solid;
	border-color: transparent;
	border-radius: 1em;

	width: 55%;
	padding: 10px 15px;
	margin: 15px;
	background-color: #F7F7F7;

	font-size: 2em;
	font-family: "Noto Sans", sans-serif;
	/* font-weight: bold; */

	list-style: hidden;
}


.simulation_cases {
	/* display: flex;
	flex-direction: row;
	align-items: flex-start; */

}

.simulation_cases:nth-child(2n){

	/* background-color: green; */
	/* grid-column: 2; */

}


.radio{
	padding: 0% 30%;
	text-align: left;
	align-self: left;
}

/***************TABLEAU***************/
.table {
	border-collapse: collapse;
	min-width: 400px;
	width: auto;
	box-shadow: 0	5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	margin: 100px auto;
	border: 2px solid midnightblue;
}

thead tr {
	background-color: midnightblue;
	color: white;
	text-align: center;
}

th, td {
	padding: 15px 20px;
}

tbody tr ,td, th {
	border: 1px solid white;
}

tbody tr:nth-child(even){
	background-color: #f3f3f3;
}

/***************RESULTATS***************/
#phrase_mixture{
	text-align: center;
}
/***************BOUTTON***************/
#bouttton{
	font-size: 1.5em;
	background-color: ##E6E6E6;
}

#bouttton:hover{
	background-color: white;
	color: #961E64 ;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
