#calculateur{
	text-align: center;
	padding: 0% 15% 2% 15%;
	display: flex;
	flex-direction: column;
/* justify-content: space-between; */
	/* flex-wrap: wrap; */

}

.page_title{
	/* background-color: red; */
	/* align-self: flex-start; */
	justify-content: center;
}

.simulator_form{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

}
/*
.simulation_cases:nth-child(2n){
	 background-color: green;
} */

.radio{
	padding: 0% 30% 0% 30%;
	text-align: left;
}

/***************TABLEAU***************/
.table {
	border-collapse: collapse;
	min-width: 400px;
	width: auto;
	box-shadow: 0	5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	margin: 100px auto;
	border: 2px solid midnightblue;
}

thead tr {
	background-color: midnightblue;
	color: white;
	text-align: center;
}

th, td {
	padding: 15px 20px;
}

tbody tr ,td, th {
	border: 1px solid white;
}

tbody tr:nth-child(even){
	background-color: #f3f3f3;
}

/***************RESULTATS***************/
#phrase_mixture{
	text-align: center;
}
/***************BOUTTON***************/
#bouttton{
	font-size: 1.5em;
	background-color: ##E6E6E6;
}

#bouttton:hover{
	background-color: white;
	color: #961E64 ;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
