<footer class="footer">
	  <div class="footer__addr">
		<h2>Contact</h2>
	 	 <a class="footer__btn" href="contact.php">Email Us</a>
		<a href="index.php"><img id="logo" src="image/LOGO_3_nobg.png"  width="auto" height="135" alt="Image_website"></a>
	  </div>

	  <ul class="footer__nav">
	    <li class="nav__item">
	      <h2 class="nav__title"></h2>

	      <ul class="nav__ul">
	        <li>
	          <a href="https://www.cnrs.fr" target="_blank"><img src="../image/cnrs.svg" alt="logo du cnrs" width="80" height="80"></a>
	        </li>

					<li>
					 <a href="https://www.centralesupelec.fr" target="_blank"><img src="../image/centralesupelec_nobk.png" alt="logo de centralesupelec" width="125" height="70"></a>
				 </li>

	        <li>
	          <a href="http://www.msca-emerald.eu/" target="_blank"><img src="../image/logo_small_EMERALD.png" alt="logo de emerald" width="125" height="80"></a>
	        </li>
	      </ul>
	    </li>

	    <li class="nav__item nav__item--extra">
	      <h2 class="nav__title"></h2>

	      <ul class="nav__ul nav__ul--extra">
	        <li>
	          <a href="https://www.sorbonne-universite.fr" target="_blank"><img src=../image/sorbonne-universite.svg alt="logo sorbonne-université" width="125" height="80"></a>
	        </li>
					<li> <a href="https://www.geeps.centralesupelec.fr" target="_blank"><img src="image/image_geeps-removebg-preview.png"  width="auto" height="60" alt="logo du geeps"></a><br><br>
					</li>
	        <li>
	          <a href="https://iut.univ-paris-diderot.fr" target="_blank"><img src="../image/Universite_Paris_logo_horizontal-removebg-preview.png" alt="logo universite paris" width="125" height="auto"></a>
	        </li>
	      </ul>
	    </li>
			<br><br><br>

	    <li class="nav__item">
	      <h2 class="nav__title">Legal</h2>

	      <ul class="nav__ul">
	        <li>
	          <a href="privacy.php">Privacy Policy</a>
	        </li>

	        <li>
	          <a href="terms.php">Terms of Use</a>
	        </li>

	      </ul>
	    </li>
	  </ul>



    <div class="trait"></div>

	  <div class="legal">
	    <p>&copy Copyright Geeps 2021</p>
	  </div>

</footer>
